.status-section {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-between;
}

.status-section .item {
  width: 240px;
  height: 120px;
  background-color: var(--bg-white);
  box-shadow: rgba(0, 0, 0, 0.019) 0px 0px 35px 0px;
  justify-content: left;
  border-radius: 6px;
  cursor: pointer;
  padding-left: 15px;
}

.item .left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

}

.item .pang {
  background-color: var(--bg-pang);
  color: var(--text-green);
}

.item .lavender {
  background-color: var(--bg-lavender);
  color: var(--text-violet);
}

.item .alice {
  background-color: var(--bg-alice);
  color: var(--bg-zaffer);
}

.item .pink {
  background-color: var(--bg-pink);
  color: var(--text-cerise);
}

.item .right .title {
  color: var(--text-light);
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

.item .right .bold-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
  padding-bottom: 4px;
}

.item .right .growth {
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.item .right .growth .green {
  color: var(--text-green);
}

.item .right .growth .red {
  color: var(--text-cerise);
}


/* Media Query Css */

@media (max-width:1024px) {
  .status-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
  }

  .status-section .item {
    width: 100%;
  }

  .item .left {
    width: 60px;
    height: 60px;
    font-size: 30px;

  }

  .item .right .growth {
    font-size: 12px;
  }
}

@media (max-width:992px) {
  .status-section {
    margin-top:70px;
  }
}

@media (max-width:450px) {
  .status-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .status-section .item {
    width: 100%;
    padding-left: 20px;
  }
  .item .left{
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
}